[Desktop Entry]
Version=1.0
Type=Application
Name=QGroundControl
Icon=/home/{{ ansible_user }}/.local/share/applications/qgroundcontrol_icon.png
Exec="/home/{{ ansible_user }}/.local/share/applications/QGroundControl.AppImage" %f
Terminal=false
